[submodule "discovered_repos/crypto-primes"]
	path = discovered_repos/crypto-primes
	url = https://github.com/entropyxyz/crypto-primes
[submodule "discovered_repos/algebra"]
	path = discovered_repos/algebra
	url = https://github.com/arkworks-rs/algebra
[submodule "discovered_repos/ark-ff"]
	path = discovered_repos/ark-ff
	url = https://github.com/arkworks-rs/algebra
[submodule "datasets/data-moonshine"]
	path = datasets/data-moonshine
	url = git@hf.co:datasets/introspector/data-moonshine
[submodule "datasets/data-const71"]
	path = datasets/data-const71
	url = git@hf.co:datasets/introspector/data-const71
